{{ ansible_managed | comment }}
ADEVICE {{ direwolf_adevice }}
ARATE {{ direwolf_arate }}

CHANNEL 0
MODEM {{ direwolf_modem }}
MYCALL {{ direwolf_mycall }}
PTT {{ direwolf_ptt }}

AGWPORT {{ direwolf_agwport }}
KISSPORT {{ direwolf_kissport }}

IGTXLIMIT {{ direwolf_igtxlimit }}
