{{ ansible_managed | comment }}
# name  callsign  speed  paclen  window  description
{{ ax25_port_name }}  {{ ax25_callsign }}  {{ ax25_speed }}  {{ ax25_paclen }}  {{ ax25_window }}  {{ ax25_description }}
