{{ ansible_managed | comment }}
# name  callsign  alias  paclen  description
{{ ax25_netrom_port_name }}  {{ ax25_netrom_callsign }}  {{ ax25_netrom_alias }}  {{ ax25_netrom_paclen }}  {{ ax25_netrom_description }}
